In [1]:
import pandas as pd
import numpy as np
import pickle

In [4]:
with open('predictions.pkl', 'rb') as file:
    data = pickle.load(file)

In [5]:
data

        First Node Second Node  Probability
0         C0008059    C0001675     0.999989
1         C0008059    C0027361     0.999986
2         C0086418    C0027361     0.999984
3         C0043210    C0001675     0.999983
4         C0043210    C0025266     0.999977
...            ...         ...          ...
4609079   C0851286    C0035608     0.500000
4609080   C0040395    C0016215     0.500000
4609081   C1153022    C0014372     0.500000
4609082   C0582118    C0287990     0.500000
4609083   C0232292    C0275518     0.500000

[4609084 rows x 3 columns]